# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Qt Creator temporary files
*.pro.user
*.pro.user.*
.qtcreator/

# Build folders
build/
build-*/
debug/
release/
*.exe

# Clang cache
.qtc_clangd/

# Database files (So you don't overwrite each other's test data!)
*.db
*.sqlite3